<section class="py-9 bg-s-blue-light text-white">
  <div class="container">
    <div class="row">
      <div class="col-xl-10 mx-xl-auto">
        <div class="row gx-xl-7 mb-n4">
          <div class="col-lg-6 d-lg-flex align-items-center mb-5 mb-lg-0">
            <div class="mt-lg-n5">
              <h2 class="display-5 mb-5 mt-5 libre-franklin-black-italic">{{ .heading }}</h2>
              <p class="fs-4">{{ .subheading }}</p>
              <div class="mt-6 ms-xl-n8">
                <img class="w-100" src="/images/tanker-cutout.webp" />
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            {{ range .items }}
              <div class="rounded-4 border border-2 border-light p-4 mb-4">
                <h3 class="h4">{{ .heading }}</h3>
                <p class="mb-0">{{ .text }}</p>
              </div>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>